<div class="navbar-fixed">
  <nav class="white blue-text z-depth-0">
    <div class="nav-wrapper">
      <div class="container container-large">
        <a class="brand-logo hide-on-small-only" href="{{ site.baseurl }}/" style="padding-left:0px;padding-right:10px">
          <span class="light teal-text">{{ site.logo }}</span>
        </a>
        <a class="brand-logo hide-on-med-and-up" href="{{ site.baseurl }}/" style="padding-left:0px;font-size:105%;padding-right:10px">
          <span class="light teal-text">{{ site.logo }}</span>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right teal-text"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {% for page in site.pages %}
              {% if page.top_navbar %}
                  <li><a href="{{ page.url | prepend: site.baseurl }}" class="teal-text">{{ page.title }}</a></li>
              {% endif %}
          {% endfor %}
        </ul>
        <ul class="sidenav" id="mobile-demo">
          {% for page in site.pages %}
              {% if page.title %}
                  <li><a href="{{ page.url | prepend: site.baseurl }}" class="teal-text">{{ page.title }}</a></li>
              {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>
