<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <header>
        {% include header.html %}
    </header>
    <main>
        {{ content }}
    </main>
    <footer class="page-footer no-margin __top teal">
        {% include footer.html %}
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/7150772a19.js"></script>
    <script type="text/javascript">
    $( document ).ready(function() {

        //fontawesome broken-heart icon
        var faFlash=$('footer').css('background-color'),
            faFlash='color:'+faFlash+';transform:scale(1,2);-webkit-transform:scale(1,2);-moz-transform:scale(1,2);-ms-transform:scale(1,2);-o-transform:scale(1,2)';
        $('i.fa.fa-broken-heart').html('<span style="padding:5px"><span class="fa-broken-heart fa-stack"><i class="fa fa-heart fa-stack-2x"></i><i class="fa fa-flash fa-stack-1x" style="'+faFlash+'"></i></span></span>');
        $('nav a').addClass('waves-effect');

        // Custom
        $('.carousel.carousel-slider').carousel({fullWidth: true});
        $(".sidenav").sidenav();

    });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112112864-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112112864-1');
    </script>
</body>
</html>
